<div class="row mt-4 m-auto">
    <div class="col-md-4"></div>
    <div class="col-md-4 p-5 rounded shadow-sm bg-white">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="primary-color">Get Started With Us</h3>
                <h6>Register a New Membership</h6>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="form-group">
                    <i class='far fa-user-circle'></i>
                    <input type="text" class="b-form-control" placeholder="Full Name">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <i class="far fa-envelope"></i>
                    <input type="text" class="b-form-control" placeholder="Email">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <i class="far fa-eye"></i>
                    <input type="text" class="b-form-control" placeholder="Password">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <i class="far fa-eye"></i>
                    <input type="text" class="b-form-control" placeholder="Retype Password">
                </div>
            </div>
            <div class="col-md-12">
                <input type="checkbox">
                <label for="">I agree to the <span class="terms">Terms</span></label>
            </div>
            <div class="col-md-12 text-center my-4">
                <button class="btn-register">Register</button>
            </div>
            <div class="col-md-12 text-center">
                <label for="">
                    Already have an account?
                    <span class="cursor-pointer link-color" (click)="navigateToLogin()"> Log In</span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>